p.red {
    color: #ff8080;
}

p.green {
    color: #80ff80;
}

p.blue {
    color: #8080ff;
}

body {
    display: flex;               /* Enables flexbox for the body */
    flex-direction: column;      /* Align items in a column */
    align-items: center;         /* Center items horizontally */
    min-height: 100vh;           /* Make the body take up the full viewport height */
    margin: 0;                   /* Remove default margins */
    text-align: center;          /* Center-align text */
    font-family: Arial, sans-serif; /* Optional: Apply a clean font */
    background-color: #000000;
    color: #FFF
}

div.settings {
    padding-top: 80px;
    padding-bottom: 25px;
}

div.input {
    padding-top: 25px;
}

div.input input#input {
    width: 300px;
    height: 30px;
    text-align: center;
    border-color: #FFF;
    background-color: #000;
    color: #FFF;
    border-radius: 10px;
}

input#gen {
    background-color: #80ff80;
}

input#gen:hover {
    background-color: #C0FFC0;
}

input#solve {
    background-color: #A080DA;
}

input#solve:hover {
    background-color: #F0C0FF;
}

input.button {
    color: #000;
    padding: 5px 20px;
    border-radius: 14px;
    cursor: pointer;
}

body hr {
    height: 1px;
    width: 50%;
}

h1#relations {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}